/* General */

body {
  margin: 0px;
  padding: 0px;
  background-color: #C0DEED;
  background-image: url(/images/bg-clouds.png);
  background-position: top middle;
  background-repeat: repeat-x;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 0.75em;
  color: #333333;
}

a img {
  border: none;
}

a {
  color: #2276BB;
  text-decoration: none;
  font-weight: bold;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  width: 760px;
  margin: 10px auto 0px auto;

}

#header #logo {
  width: 400px;
  float: left;
}

#header #main_navi {
  width: auto;
  background-color: #FFF;
  float: right;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 8px 3px auto;
}

#container {
  width: 715px;
  margin: 0 auto 25px auto;
  background-color: #FFF;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#main {
  width: 540px;
  float: left;
}

#side {
  width: 160px;
  float: right;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

input.button {
  background: url(/images/round-btn.gif) top left no-repeat;
  width: 115px;
  height: 32px;
  border: 0px;
  font-size: 120%;
  color: #666;
}

/* End-General */

/* Following + Followers */

#follow {
  margin: 0px;
  padding: 0px;
  width: 521px;
}

#follow li {
  list-style: none;
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px dashed #D2DADA;
}

#follow li.first {
  border-top: 1px dashed #D2DADA;
}

#follow li:hover {
  background-color: #F7F7F7;
}

#follow li img {
  float: left;
}

#follow li div.follow_container {
  float: left;
  margin-left: 10px;
  width: 375px;
}

#follow li div.follow_container h3 {
  margin: 0px;
  font-size: 16px;
}

#follow li div.follow_container div.button_container {
  width: 65px;
  float: right;
}

#follow li div.follow_container a {
  color: #2276BB;
  text-decoration: none;
  font-weight: bold;
}

#follow li div.follow_container div.time_ago {
  color: #9C9C9C;
  font-size: 90%;
  padding-top: 3px;
}

/* End-Following + Followers */

/* Timeline */
#timeline {
  margin: 0px;
  padding: 0px;
  width: 521px;
}

#timeline li {
  list-style: none;
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px dashed #D2DADA;
}

#timeline li.first {
  border-top: 1px dashed #D2DADA;
}

#timeline li:hover {
  background-color: #F7F7F7;
}

#timeline li img {
  float: left;
}

#timeline li div.tweet_message_container {
  float: left;
  margin-left: 10px;
  width: 450px;
}

#timeline li div.tweet_message_container h3 {
  margin: 0px;
  font-size: 16px;
}

#timeline li div.button_container {
  width: 135px;
  text-align: right;
  float: right;
}

#timeline li div.tweet_message_container a {
  color: #2276BB;
  text-decoration: none;
  font-weight: bold;
}

#timeline li div.tweet_message_container div.time_ago {
  color: #9C9C9C;
  font-size: 90%;
  padding-top: 3px;
}

/* End-Timeline */

/* Tweet Form */
#new_tweet_form {
  min-width: 521px;
  max-width: 521px;
  margin-bottom: 25px;
}

#new_tweet_form textarea {
  min-width: 521px;
  max-width: 521px;
  max-height: 44px;
  min-height: 44px;
}

#new_tweet_form h3 {
  font-weight: normal;
  font-size: 150%;
  margin: 0px;
  padding:  0px 0px 5px 0px;
}

#new_tweet_form #latest_message {
  color: #666;
  font-size: 90%;
  padding-top: 3px; 
  float: left;
  width: 360px;
}

#new_tweet_form #submit_button_container {
  float: right;
  width: 160px;
  text-align: right;
  padding-top: 3px;
}

#new_tweet_form #submit_button_container :hover {
  color: #E3E1E3;
}

/* End-Tweet Form */

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* Character Count */

#char_count {
  float: right; 
  font-size: 23px; 
  font-weight: bold !important; 
  color: #AAA;
}

.dark_red {
  color: #5C0002 !important;
}

.red {
  color: #D40D12 !important;
}

#my_info_container {}
#my_info_container img {
  float: left;
}
#my_info_container .contents {
  font-family: Helvetica Neue, Helvetica,sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 13px;
  float: left;
  padding-left: 5px;
  line-height: 14px;
}

#my_info_container .contents .small {
  font-size: 12px;
  font-weight: normal;
}

#side_content_container {
  margin-top: 15px;
}

#side_content_container h4 {
  margin: 2px 0px;
}
