<ul id="timeline">
	<% tweets.each do |tweet| %>
	<li<% if tweets.first == tweet %> class="first"<% end %>>
		<%= image_tag tweet.user.gravatar_url %>
	  <div class="tweet_message_container">
		<%= link_to tweet.user.username %>
		<%= h tweet.message %>
		<div class="time_ago">
			<%= distance_of_time_in_words_to_now(tweet.created_at) %> ago
		</div>
	  </div>
		<div class ="clear"></div>
	</li>
	<% end %>
</ul>